{% extends 'base.html' %}

{% block content %}

<br>
<h4>Reports:</h4>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">


                        <div class="row">
                            <div class="col-md">
                                {% if request.user.member.student %}
                                <div class="card card-body">
                                    <h5>Students Details:</h5>
                                </div>

                                <div class="card card-body">

                                    <table class="table">

                                        <tr>

                                            <th>Name</th>
                                            <th>Grade</th>
                                            <th>Gender</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                        </tr>
                                        {% for items in student %}
                                        <tr>
                                            <td>{{ items.name }}</td>
                                            <td>{{ items.grade }}</td>
                                            <td>{{ items.gender }}</td>
                                            <td>{{ items.email_id }}</td>
                                            <td>{{ items.phone }}</td>
                                        </tr>
                                        {% endfor %}

                                    </table>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                        {% if request.user.member.teacher %}
                        <div class="row">
                            <div class="col-md">
                                <div class="card card-body">
                                    <h5>Teachers Details:</h5>
                                </div>

                                <div class="card card-body">

                                    <table class="table">

                                        <tr>

                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                        </tr>
                                        {% for items in member %}
                                        <tr>
                                            <td>{{ items.name }}</td>
                                            <td>{{ items.gender }}</td>
                                            <td>{{ items.email_id }}</td>
                                            <td>{{ items.phone }}</td>
                                        </tr>

                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </div>

            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">


                        <br>
                        <div class="row">
                            <div class="col-md">
                                <div class="card card-body">
                                    <h5>Members Details:</h5>
                                </div>

                                <div class="card card-body">

                                    <table class="table">

                                        <tr>

                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                        </tr>
                                        {% for items in member %}
                                        <tr>
                                            <td>{{ items.name }}</td>
                                            <td>{{ items.gender }}</td>
                                            <td>{{ items.email_id }}</td>
                                            <td>{{ items.phone }}</td>
                                        </tr>

                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">

                        <div class="row">
                            <div class="col-md">
                                <div class="card card-body">
                                    <h5>Lease Details:</h5>
                                </div>

                                <div class="card card-body">

                                    <table class="table">

                                        <tr>
                                            <th>Book</th>
                                            <th>Student</th>
                                            <th>Teacher</th>
                                            <th>Member</th>
                                            <th>Status</th>
                                        </tr>
                                        {% for items in leased %}
                                        <tr>
                                            <td>{{ items.book }}</td>
                                            <td>{{ items.student }}</td>
                                            <td>{{ items.teacher }}</td>
                                            <td>{{ items.member }}</td>
                                            <td>{{ items.status }}</td>
                                        </tr>

                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
    {% include 'status.html' %}
</div>


{% endblock %}

