{% extends 'base.html' %}

{% block content %}

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{ teacherFilter.form }}
                <button class="btn btn-primary" type="submit">Filter</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Teachers:</h5>
        </div>

        <div class="card card-body">

            <table class="table">

                <tr>

                    <th>Name </th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                 {% for items in teacher %}
                <tr>
                    <td>{{ items.name }}</td>
                    <td>{{ items.gender }}</td>
                    <td>{{ items.email_id }}</td>
                    <td>{{ items.phone }}</td>
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}

